<!DOCTYPE html>
<html>
<head>
    <title>View Orders</title>
</head>
<body>
    <h1>All Orders</h1>
    <div style="display: flex; margin-left: 400px">
        <button><a href="/dashboard">Dashboard</a></button>
    </div>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } else if (orders.length === 0) { %>
        <p>No orders found.</p>
    <% } else { %>
        <ul>
            <% orders.forEach(order => { %>
                <li>
                    <strong>Order id:</strong> <%= order.id %><br>
                    <strong>Sender Name:</strong> <%= order.sender_name %><br>
                    <strong>Sender Phone:</strong> <%= order.sender_phone %><br>
                    <strong>Buyer Name:</strong> <%= order.buyer_name %><br>
                    <strong>Buyer Phone:</strong> <%= order.buyer_phone %><br>
                    <strong>Buyer City:</strong> <%= order.buyer_city %><br>
                    <strong>Buyer Village:</strong> <%= order.buyer_village %><br>
                    <strong>Buyer Adress:</strong> <%= order.buyer_adress %><br>
                    <strong>Price:</strong> <%= order.price %><br>
                    <strong>Package Type:</strong> <%= order.package_type %><br>
                    <strong>Shipping Fee:</strong> <%= order.shipping_fee %><br>
                    <strong>Who's Paying:</strong> <%= order.whos_paying %><br>
                    <form action="/api/orders/<%= order.id %>/delete" method="POST" style="margin-top: 3px;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                <br>
                <br>
            <% }) %>
        </ul>
        <!-- Pagination -->
        <footer style="position: fixed; width: 100%; bottom: 0;">
            <div style="display: flex; justify-content: center; margin-bottom: 30px;">
            <% if (pagination && pagination.totalPages > 1) { %> 
                <div style="display: flex; gap: 20px; align-items: center;">
                    <!-- First and Prev -->
                    <a href="/orders?page=<%= 1 %>&limit=<%= pagination.pageLimit %>">
                        <button style="<%= pagination.currentPage === 1 ? 'visibility: hidden;' : '' %>">First</button>
                    </a>

                    <a href="/orders?page=<%= pagination.currentPage - 1 %>&limit=<%= pagination.pageLimit %>">
                        <button style="<%= pagination.currentPage === 1 ? 'visibility: hidden;' : '' %>">Prev</button>
                    </a>
                    <!-- Message -->
                    <span>Page <%= pagination.currentPage %> of <%= pagination.totalPages %></span>

                    <!-- Last and Next -->
                    <a href="/orders?page=<%= pagination.currentPage + 1 %>&limit=<%= pagination.pageLimit %>">
                        <button style="<%= pagination.currentPage === pagination.totalPages ? 'visibility: hidden;' : '' %>">Next</button>
                    </a>

                    <a href="/orders?page=<%= pagination.totalPages %>&limit=<%= pagination.pageLimit %>">
                        <button style="<%= pagination.currentPage === pagination.totalPages ? 'visibility: hidden;' : '' %>">Last</button>
                    </a>
                    
                </div>
            <% } %>
            </div>
        </footer>
        

    <% } %>
</body>
</html>
